
<header></header>
<div class="container-fluid" style="margin-top: 51px;">
    <div class="row">
        <div class="content2">
            <img src="images/Marketing.jpg" width="100%" height="410" />
            <div class="typed-overlay">

            </div>
        </div>
    </div>
</div>
<div class="panel-body gray-back">
    <p>Forepoint Marketing & Sales Consultancy is a division of Forepoint Management Consultants which provides strategic consulting on marketing and sales aspects leading to tangible,
    cost effective transormation in how businesses approach and stream line their strengths towards making Profits.
    Forepoint thrive to enable clients improve their effectiveness by giving fool proof insights and perspectives about
    consumer thought process, priorities, preferences and ultimately what majority of them choose.<p>

   <p> The professionals who founded Forepoint come with extensive on hands experience in the field of Marketing and Sales in varied industries.
    No one can deny the challenges faced by their companies in order to make their innovations, initiatives make a break even, only after which comes the Profit.
    The element of Speed in this process is never out of minds. Question is how this could be achieved efficiently without discounting on quality.</p>

    <p>Ensure your marketing and sales strategy to drive profitable growth with a cost effective alliance. Let us be your first customer during the conceptual stage so as to be sure about the dependability of the first hand insights into future customer perspectives as well prelimanry insight drawn from the markets.
        Business implications drawn from these insights and with an efficient time bound process to forecast business in case of a first in the market product or to compare your product with it's counterparts will be certainly encouraging.</p>
</div>







<script>
    $( "#result" ).load( "header.html" );
</script>