<header></header>
<div class="container-fluid" style="margin-top: 51px;">
    <div class="row">
        <div class="content2">
            <img src="images/HR2.jpg" width="100%" height="410">
            <div class="typed-overlay">

            </div>
        </div>
    </div>
</div>
<div class="panel-body ">
    <p>
        Indian economy is playing an important role in the global arena, despite of the continuing crisis
        and uncertainties in the other parts of the world due to economic, financial and political
        turbulences. Indian economy could be able to withstand this crisis with it's sound economic policies
        and a great domestic demand along with rising Foreign Direct Investment (FDI)..</p>
    <p>
        The prosperity Indian economy is experiencing is resulting in greater demand for goods and services.
        Companies are experiencing growth and as well facing intense competition from new domestic players
        and global players who are setting up their shops in India with a strong financial base. This
        resulted in intense competition for talent, which is one of the basic asset to have sustainable
        business and success in the market. The scarcity of talent is posing a significant challenge to
        companies in both attracting and retaining of the same. In this war in acquiring right talent and
        leadership for your business growth amidst competition and cost pressures we at Forepoint
        Consultants are all always in the pursuit of filling the talent and competency gap through
        diversified Talent Identifying channels and strategies. Our bespoke talent sourcing solutions will
        provide you quality hires which in turn enable you to execute your growth strategy.&nbsp;</p>
    <p>
        Our endeavor to clearly understand your organisation's current and future business strategies helps
        us in identifying talent required to achieve business success. </p>
</div>



